# Generated in part by http://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### PhpStorm ###
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/

### Grunt ###
npm-debug.log
Gruntfile.js
package.json
node_modules
